body {

    font-family: 'Arial', sans-serif;

    background-color: #DDDDDD;

    flex-wrap: wrap;

}





* {

    padding: 0px;

    margin: 0px;

    box-sizing: border-box;

}



h1,

h2 {

    color: #D4AF37;

}



header {

    border: 1px solid black;

    background-color: #1E1E1E;

    display: flex;

    justify-content: space-between;

    align-items: center;

    height: 97px;

    margin-bottom: 60px;



}



.taskbar {

    display: flex;

    justify-content: space-between;

    gap: 40px;

    color: #DDDDDD;

    margin-right: 30px;

}





main {

    display: flex;

    justify-content: center;

}



main div {
    border-radius: 15px;

    width: 500px;

    height: 726.17px;

    opacity: 100%;

    background-color: #FFFFFF;

    display: flex;

    flex-direction: column;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    margin-bottom: 50px;

}



h2 {


    padding-bottom: 20px;


}



.script {

    width: 498.25;

    height: 250.38;

    padding-top: 10px;

    padding-right: 40px;

    font-weight: bold;

}



img {

    border-radius: 15px;

    width: 500px;

    height: 300px;

    object-fit: fill;

    padding-left: 60px;

    padding-right: 10px;

}





footer {

    background-color: #1E1E1E;

    height: 78px;

    display: flex;

    justify-content: space-between;

    color: #DDDDDD;

    align-items: center;

}



.copy-right {

    padding-left: 30px;

}



.infor {

    gap: 30px;

}