main {
    display: flex;
    gap: 20px;
    background-color: #f5f5f5;
    justify-content: center;
    padding: 60px 20px;
    min-height: 100px;
}

div {

    width: 200px;
    border: none;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
}



img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    display: block;
    
}

